<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="content">
<table>
    <thead>
    <td>Visitor</td>
    <td>Tickets - zone </td>
    <td>Status</td>
    <td>Usage Date</td>
    </thead>
    <tr th:each="t : ${ticketList}">
        <td th:text="${t.zooSoldTicketVisitor.name}"></td>
        <td th:text="${t.soldTicket.ticketAnimalZone.zone}"></td>
        <td th:text="${t.soldTicket.status}"></td>
        <td th:text="${t.soldTicket.usageDate}"></td>
    </tr>
</table>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
