<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<a href="/greeting">Home Page</a>
<a href="/ticketSell">Sell Ticket</a>
<a href="/ticketStatistics">Ticket Statistic</a>
<a href="/gifts">Girft Shop</a>
<a href="/visitorStatistic">Visitor</a>
<div th:if="${ticketList.empty}">FOOD</div>
<table>
    <thead>
        <td>Visitor</td>
        <td>Tickets - zone </td>
        <td>Status</td>
        <td>Usage Date</td>
    </thead>
    <tr th:each="t : ${ticketList}">
        <td th:text="${t.zooSoldTicketVisitor.name}"></td>
        <td th:text="${t.zooTicket.ticketAnimalZone.zone}"></td>
        <td th:text="${t.zooTicket.status}"></td>
        <td th:text="${t.zooTicket.usageDate}"></td>
    </tr>
</table>
</body>
</html>